.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 2rem;
  background: #dd0db0;
}

.main-header h1 {
  color: #fff;
}

.faIcon {
  color: #fff;
}

.homeIcon {
  margin-right: auto;
}
