.control {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.control input {
  display: block;
  font: inherit;
  font-size: 0.9em;
  padding: 0.35rem 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
