.countryWrapper {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  padding: 5px;
  grid-auto-flow: row;
  grid-gap: 20px 20px;
  justify-content: center;
  margin-top: 2em;
}

@media screen and (max-width: 800px) {
  .countryWrapper {
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 100%;
  }
}
