
/* .countryContainer:nth-child(odd) { background-color: #c23363; } .countryContainer:nth-child(even) { background-color: #791141; }  */

.login {
  max-width: 40rem;
  margin-bottom: 1em;
  padding: 0.6em;
  color: #fff;
}

.actions {
  text-align: center;
}

.innerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggleIcon {
  padding: 0 1em;
}

.anglesRight {
  width: 2.5em;
  padding-left: 0.5em;
  color: #e65389;
}

.toggleSection {
  color: #fff;
  display: flex;
  align-items: center;
}

.language {
  color: #e65389;
}

.logo-image {
  width: 25vw;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.loginHeader {
  text-align: center;
  font-size: 0.9em;
}

.passwordLink {
  color: #e65389;
}

.twitterBtn {
  margin-top: 4em;
  background: #000 !important;
  color: #e65389 !important;
}
